body{
    
    font-family: serif;
}
a{
    color: unset;
    text-decoration: unset;
}
a:hover{
    text-decoration: unset;
    color: gray;
}
p{
    font-family: cursive;
}
img{
    max-width: 100%;
}
.header-section{
    background: #fff !important;
    padding: 1em;
}
li.nav-item{
    margin-left: 38px;
}
li.nav-item.active {
    border-bottom: 2px solid #f44949;
    margin-top: 0;
}
li.nav-item:hover {
    border-bottom: 2px solid #f44949;
    margin-top: 0;
}
.navbar-light .navbar-nav .nav-link{
    color: rgb(0, 0, 0);
}
.hero-section{
    background-image: url(img/Header-background.jpg);
    background-size: cover;
}
.hero-text{
    padding-top: 16em;
}
.hero-section .hero-text h2{
    color: white;
    font-size: 56pt;
    font-weight: 500;
    margin-top: 39px;
    margin-bottom: 39px;
    
}
.img-conf{
    padding-top: 7em;
}
.about-conf{
    padding: 4em;
    padding-top: 10em;
    padding-left: 0;
}
.i-check::before{
    content: "\2713";
    color: red;
}
.section-tittle {
    font-family: serif;
    padding-top: 2em;
    padding-bottom: 2em;
    text-align: center;
}
.section-tittle h1{
    font-size: 31pt;
    font-weight: 700;
}
.section-tittle p{
    font-family: cursive;
    font-size: 18px;
    color: gray;
    margin-bottom: 0;

}
.member-item {
    width: 25%;
    float: left;
    height: 658px;
    position: relative;
    overflow: hidden;
}
.set-bg{
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}
.mi-social{
    text-align: center;
    color: #007bff;
    margin-top: 1em;
    display: inline-block;
    position: relative;
    top: -87px;
    -webkit-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}
.mi-social a{
    font-size: 32pt;
    padding: 14px;

}
.mi-text{
    color: black;
    background-color: #fff;
    border-radius: 5px;
    padding: 9px 24px 4px;
    bottom: 0;
    position: absolute;
    width: 82%;
    left: -566px;
    margin-bottom: 16px;
    -webkit-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}


.member-item:hover .mi-text {
	left: 20px;
}
.member-item:hover .mi-social {
	top: 30px;
}

.schedule-tab .nav-tabs{
    border: none;
    border-radius: 2px;
    margin-bottom: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center
}
.schedule-tab .nav-tabs .nav-item{
    text-align: center;
    border-radius: 43%;
    box-shadow: 13px 7px 16px 0px #cccccc;
    margin-top: 22px;
}

.nav-tabs .nav-link{
    border: 0em;
}

.schedule-tab .nav-tabs .nav-item .nav-link.active{
    border: 0;
    background-image: -o-linear-gradient(330deg, #ee8425 0%, #f9488b 100%), -o-linear-gradient(330deg, #ee8425 0%, #f9488b 100%);
    background-image: linear-gradient(120deg, #ee8425 0%, #f9488b 100%), linear-gradient(120deg, #ee8425 0%, #f9488b 100%);
    color: #fff;
    border-radius: 43%;
    box-shadow: 13px 7px 16px 0px #cccccc;  
}
.sc-item{
    width: 100%;
    padding: 20px;
    box-shadow: 6px 5px 20px 0 #0000006b;
    margin-bottom: 25px;
    text-align: center;
}
.sc-item i{
    color: #f44949;
}

.sc-logo{
    text-align: center;
    padding: 30px 0;

}
.sc-logo img{
    height: 120px;
    width: 120px;
    border-radius: 50%;
}
.sc-text{
    padding: 30px 0;
}
.sc-text ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0;    
    justify-content: center;

}
.sc-text ul li{
    margin-left: 15px;
}

.sc-widget {
    padding: 30px 0;
}
.sc-widget ul{
    list-style: none;
    padding: 0;
}





.pricing-section{
    background-image: url(img/Header-background.jpg);
    padding-bottom: 5em;
    
}
.pricing-section .section-tittle h1{
    color: #fff;
}
.price-item {
    background: #fff;
    padding: 29px 0px 61px;
}
.price-item h3{
    text-align: center;

}
.pi-price{
    text-align: center;
    background-image: -o-linear-gradient(330deg, #ee8425 0%, #f9488b 100%), -o-linear-gradient(330deg, #ee8425 0%, #f9488b 100%);
    background-image: linear-gradient(120deg, #ee8425 0%, #f9488b 100%), linear-gradient(120deg, #ee8425 0%, #f9488b 100%);
    
}
.pi-price h2{
    font-size: 67pt;
    color: #fff;
    font-weight: 800;
    display: inline-block;
    position: relative;
}


.pricing-section a {
    position: relative;
    left: 34%;
    bottom: 26px;
    background: #fff;
    border: 0;
    border-radius: 5px;
    box-shadow: 0px 1px 16px;
}
.pricing-section a span{
    color: red;
    font-weight: 400;
}
.news-item{
    height: 236px;
    position: relative;
    margin-bottom: 32px;
}
.news-item img{
    width: 100%;
    height: 100%;

}
.large-item{
    height: 540px;
}
.large-item .n-itm-titlle{
    padding: 1px 13px 10px;
}
.n-itm-titlle{
    position: relative;
    color: white;
    bottom: 83px;
    padding: 9px;
    background: #00000059;
    padding: 1px 13px 0;
}
.kind{
    background-image: repeating-linear-gradient(123deg, #f8507e, #f1773d 100%);
    color: #fff;
    position: absolute;
    top: 12px;
    left: 16px;
    padding: 5px;
    font-weight: 600;
    border-radius: 11px;
}
.location-secticon{
    padding-top: 60px;
}
.location-secticon h1{
    
    font-weight: 700;
}
.location-secticon span{
    color: gray;
    font-size: smaller;
    font-family: fantasy;

}
.location-secticon ul{
    margin: 0em;
    padding: 0;
}
.location-secticon ul li {
    display: inline-block;
    list-style: none;
    margin: 7px;
}
.location-secticon ul li span{
    display: block;
}
.map{
    display: flex;
}
footer{
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #171822;
    box-shadow: 0 -2px 14px 4px #010103;

}
footer hr{
    background-color: white;
}
footer ul{
    padding: 0em;
    list-style: none;
    display: flex;  
    flex-wrap: wrap;
}
footer ul li{
    margin-left: 45px;
}
footer ul li a{
    font-size: 18pt;
    color: white;
}

.copyright-text{
    text-align: center;
    color: white;
    margin: auto;
}
.fa-heart{
    color: red;
}
.icon{
    color: gray;
    text-align: center;
    border: 1px solid gray;
    width: 35px;
    border-radius: 21px;
    margin-left: 77px;
}
footer a:hover{
    color: grey;
    text-decoration: unset;
}
.icon a:hover{
    color: unset;
}
















/* ABOUT PAGE */

.story-item{
    display: flex;  
    margin-bottom: 50px;
}
.story-left{
    padding: 10px;
    color: red;
}
.story-right{
    padding: 10px;
}
.story-right p {
    padding-top: 24px;
}
.Testimonials{
    padding-bottom: 20px;
}
.ta-sw-container{
    overflow: hidden;
}
.ta-swiper{
    padding-top: 35px;
    padding-bottom: 35px;
}
.ta-item{
    padding: 20px;
    box-shadow: 0px 0px 7px 0px #0000008c;
    margin: 18px;
   
}
.ta-item{
    padding-bottom: 12px;
    text-align: center;
}

.ta-item .ta-top img{
    border-radius: 50%;
}
.ta-item .ta-top span{
    position: relative;
    color: red;
}
.ta-item .ta-top h5{
    position: relative;
    font-size: 15pt;
    font-weight: 800;
}
.qoute-mark{
    position: absolute;
    left: 0;
    top: 0;
}

.sub-inner {
    padding: 55px;
    border-radius: 8px;
    background-size: cover;
}
.sub-text {
    color: #fff;
    font-size: 15pt;
}
.sub-form{
    text-align: center;
}
.sub-form input {
    width: 74%;
    height: 50px;
    padding: 13px;
    border-radius: 22px;
    outline: none;
}
.sub-form button {
    position: absolute;
    border-radius: 59px;
    font-size: 16pt;
    width: 24%;
    right: 84px;
    bottom: 34px;
}


/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {

    .btn-nav{
        display: none;
    }
    
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
    .btn-nav{
        display: none;
    }

}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) { 
    .btn-nav{
        display: none;
    }
}
/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {

}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

}